@import "@/assets/custom-element-plus.scss";

a{
  color: $black;
}
a:hover{
  text-decoration: none;
}
.text-b{
  color: $black;
}
.text-g{
  color: $gray-600;
}
.text-w{
  color: $white;
}
.bg-one{
  background: $primary;
}
.bg-two{
  background: $secondary;
}

/* ------------- 移除 bootstrap 預設樣式 ------------- */
.card{
  border-radius: 0;
  border: 0;
}

/* ------------- 事項標題 ------------- */
.list-title{
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* ------------- li去除預設點點 ------------- */
ul li{
  list-style: none;
  position: relative;
  color: $black;
}

/* ------------- 代辦事項：新增項目 ------------- */
.addItem{
  height: 24px;

  &:focus-visible{
    outline: 0;
  }
}

/* ------------- 完成事項刪除線 ------------- */
.delete-line{
  position: relative;

  &:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 85%;
    height: 1px;
    background: $secondary;
  }
}
